html {
    font-family: cursive;
    color:deepskyblue;
}

body {
    background-color:rgb(248, 229, 187);
    margin: 0;
}
p{
    font-size: 1rem;
}
.blue {
        color: rgb(89, 0, 255);
    }
.thick{
        font-weight:1000;
    }
#header {
    background-image: url("https://th.bing.com/th/id/R.9d5450589457bb014588966c92a6cd0e?rik=izdfEC5ymo9RvQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f5%2f0%2f8%2f1133424-cool-ocean-desktop-wallpaper-1920x1440-for-macbook.jpg&ehk=whH8LBPlZDW4RBpRG5YLIpg69m3djO2zJ%2fzyz6ck2V0%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    height: 50%;
    color:rgb(243, 238, 238);
    font-size: 2rem;
    border-radius: 0 0 1.2rem 1.2rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.navbar {
    background-color: rgb(241, 196, 137);
    display:flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1, 1rem;
    transition: 0.3s;
    padding: 0.5em 1.0em;
    border-radius: 0.5em;
}

.nav-links li a:hover {
    background-color: rgb(162, 226, 238);
}

.title {
    text-align: center;
    padding: 1em;
}

.current {
    text-decoration: underline dotted rgb(174, 255, 224) 0.3em;
}

.accordion-header {
    width: 100%;
    background-color:rgb(255, 255, 255);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1, 1rem;
    color:rgb(97, 181, 255);
    cursor: pointer;
    transition: 0.8s;
}

.accordion-content {
    display: none;
}

.accordion-header:hover {
    background-color: rgb(201, 255, 237);
}

.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

.blog-entry img {
    width: 10%;
    border-radius: 0 1.5em 1.5em 0;
}

#enter-password {
    text-align: center;
}

#enter-password input {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: 0;
    padding:0.2em;
    width:40%;
    background-color: rgb(245, 253, 201);
}

#enter-password button {
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 7%;
    border: 0;
    background-color: rgb(181, 250, 255);
    color: rgb(62, 168, 255);
}

#password-field {
    display: flex;
    justify-content: center;
    gap: 1em;
}